<%- include('./partials/headers'); %>
<div style="display: flex;height: 100dvh;width: 100dvw; justify-content: center;align-items: center;">
  <h1 >Welcome to the Chat Application</h1>
</div>
    
    <%- include('./partials/footer'); %>
